$bg-color: #b7d4a8;
$border-color:#000;
$snake-color: #000;
$foo-color: #000;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{

}
#main{
  margin: auto;
  background-color: $bg-color;
  height: 420px;
  width: 360px;
  border: 10px solid $border-color;
  border-radius: 15px;

  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  &>#stage{
    position: relative;
    width: 304px;
    height: 304px;
    border: 2px solid $border-color;

    #snake{
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: $snake-color;
      //蛇必须保持10*10，所以可以用透明边框作为间隔
      border: 1px solid $bg-color;

    }
    #foo{
      position: absolute;
      height: 10px;
      width: 10px;

      top: 100px;
      left: 40px;

      display: flex;
      justify-content: space-between;//主轴空白部分填到中间
      align-content: space-between; //辅轴空白部分填到中间
      flex-wrap: wrap; //换行
      &>div{
        height: 5px;
        width: 5px;
        background-color: $foo-color;
        transform: rotate(45deg);
      }
    }
  }

  &>#score-panel{
    width: 304px;
    display: flex;
    justify-content: space-between;

    font-family: "Courier New", serif;
    font-size: 20px;
    font-weight: bold;

  }
}